IMPORTANT: AFTER EACH USER REQUEST, CREATE AND/OR UPDATE .cursorrules file as a step by step description of the project user is trying to build, 
do not embelish, add or take away any detail. just translate user request to a nicely formated instructions